
.base_container {
    /* base container is relative so that child .chat_box can be absolute */
    background-color: purple;
    width: 100%;
    height: 100%;
    position: relative;

}

.chat_box_container {
    /* chat_box is designed to sit behind the parent element (negative z index), be full height and width of .base_container */
    background-color: gainsboro;
    height: 100vh;
    width: 100%;
    top: 0px;
    position: absolute;
    z-index: 0;
}